.idea
.vscode
*.js
*.js.map
*.log
*.d.ts
!scripts/*.js
demo/app/*.js
!demo/karma.conf.js
!demo/app/tests/*.js
!demo/references.d.ts
!index.d.ts
!references.d.ts
!platforms/ios/*.d.ts
demo/lib
demo/platforms
demo/node_modules
node_modules