.vscode/
.idea/
.DS_Store
*.js
*.js.map
*.log.*
src/*.d.ts
build/
!src/index.d.ts
!src/references.d.ts
!src/platforms/ios/ISMessages.d.ts
!demo/karma.conf.js
!demo/app/tests/*.js
demo/*.d.ts
demo/app/*.d.ts
!demo/references.d.ts
demo/lib
demo/platforms
demo/.nsbuildinfo
node_modules
publish/src
publish/package
demo/report/report.html
demo/report/stats.json